# Conteúdo sugerido para requirements.txt (na raiz do projeto)
pyyaml
pydantic==2.12.5
python-dotenv
redis # Para comunicação com a fila de tarefas
pypdf # Para extração de PDF
google-generativeai # Para o Analysis Agent
fastapi
uvicorn
sentence-transformers
chromadb
