# Conteúdo sugerido para server/requirements.txt
fastapi
uvicorn[standard]
python-dotenv
redis # Para comunicação com o Message Broker
chromadb
python-multipart # Necessário para o FastAPI processar uploads de arquivos/formulários
